<%- model_class=Solicitacao -%>





<div class="accordion" id="accordionExample">
  <div class="accordion-item">
    <h2 class="accordion-header">
      <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#Solicitacao" aria-expanded="true" aria-controls="Solicitacao">
        <%= model_class.model_name.human(count: 2).titleize %>
      </button>
    </h2>
    <div id="Solicitacao" class="accordion-collapse collapse <%= show_collapse %>" data-bs-parent="#accordionExample">
      <div class="accordion-body">
        <%= render partial: "admin/solicitacoes/datatable" , locals: {remote: remote} %>
      </div>
    </div>
  </div>
</div>