<%- model_class=Indicacao -%>


<% remote ||= remote %>
<% solicitacao_id ||= solicitacao_id %>
<% estagiario_id ||= estagiario_id %>


<div class="accordion" id="accordionExample">
  <div class="accordion-item">
    <h2 class="accordion-header">
      <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#Indicacao" aria-expanded="true" aria-controls="Indicacao">
        <%= model_class.model_name.human(count: 2).titleize %>
      </button>
    </h2>
    <div id="Indicacao" class="accordion-collapse collapse <%= show_collapse %>" data-bs-parent="#accordionExample">
      <div class="accordion-body">
        <%= render partial: "admin/indicacoes/datatable" , locals: {solicitacao_id: solicitacao_id, estagiario_id: estagiario_id, remote: remote} %>
      </div>
    </div>
  </div>
</div>